
{# Example of if and for logic in django template #}

<html>
   <body>
      
      Hello to todays Polls App  <p>Today is {{today}}</p>
      We are

{# if this is true, "the first day of the month" is rendered. #}
      {% if today.day == 1 %}
      
      the first day of month.
      {% elif today.day == 30 %}
      
      the last day of month.
      {% else %}
      
      {{today.day}}.

{# end of if, elif logic #}
      {%endif%}
     
{# days_of_week is a list, tuple or somesuch #}
      <p>
         {% for day in days_of_week %}
         {{day}}
      </p>
		
      {% endfor %}
      
   </body>
</html>
