<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%n%n%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="TestFile" fileName="junit_tests.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%n%n%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%n"/>
        </File>
        <File name="RunFile" fileName="csw_run.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%n%n%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%n"/>
        </File>
    </Appenders>
    <Loggers>
       <Root level="debug">
            <AppenderRef ref="Console" level="off"/>
            <AppenderRef ref="TestFile" level="off"/>
        </Root>
        <Logger name="csw_utest" level="INFO" additivity="false">
            <AppenderRef ref="Console" level="off"/>
            <AppenderRef ref="TestFile"/>
        </Logger>
        <Logger name="csw_run" level="INFO" additivity="false">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="RunFile" level="info"/>
        </Logger>
    </Loggers>
</Configuration>
